@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
.wrapper{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #4203a9,#90bafc);
    color: #fff;
    padding: 10px;

}
.heading{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}
.white{
    font-size: 3.5rem;
}
.yellow{
    font-size: 3rem;
    color: #ffff76;
}
.input-box{
    width: 30%;
    margin-left: 10%;
    margin-top: 3%;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255,255,255,0.3);
    font-size: 3rem;
    display: flex;
    align-items: center;

}
.input-box input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 13px;
    border-radius: 5px;
    position: relative;
}
.btn{
    background: #ffff76;
    border: 0;
    outline: 0;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
}
input::-webkit-calendar-picker-indicator{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 18px;
    cursor: pointer;
}
#display{
    margin-left: 10%;
    margin-top: 1rem;
}
#display span{
    color: #ffff76;
    font-weight: 900;
}